<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="V2RayW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <V2RayW.Properties.Settings>
            <setting name="logLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dnsString" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="localPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="profilesStr" serializeAs="String">
                <value />
            </setting>
            <setting name="coreLoaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedServerIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="udpSupport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alarmUnknown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cusProfilesStr" serializeAs="String">
                <value />
            </setting>
            <setting name="httpPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shareOverLan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedCusServerIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useCusProfile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useMultipleServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mainInboundType" serializeAs="String">
                <value>0</value>
            </setting>
        </V2RayW.Properties.Settings>
    </userSettings>
</configuration>
