<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="V2RayW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <V2RayW.Properties.Settings>
            <setting name="transportSettings" serializeAs="String">
                <value>{"kcpSettings":{"mtu":1350,"tti":50,"uplinkCapacity":5,"downlinkCapacity":20,"readBufferSize":2,"writeBufferSize":2,"congestion":"false","header":"none"},"tcpSettings":{"connectionReuse":"true"},"wsSettings":{"connectionReuse":"true","path":""}}</value>
            </setting>
        </V2RayW.Properties.Settings>
    </userSettings>
</configuration>