<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="V2RayW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <V2RayW.Properties.Settings>
            <setting name="transportSettings" serializeAs="String">
                <value>{
  "tcpSettings": {
    "connectionReuse": true,
    "header": {
      "type": "none"
    }
  },
  "kcpSettings": {
    "mtu": 1350,
    "tti": 20,
    "uplinkCapacity": 5,
    "downlinkCapacity": 20,
    "congestion": false,
    "readBufferSize": 1,
    "writeBufferSize": 1,
    "header": {
      "type": "none"
    }
  },
  "wsSettings": {
    "connectionReuse": true,
    "path": ""
  }
}</value>
            </setting>
            <setting name="dns" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="localPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="profilesStr" serializeAs="String">
                <value>{"address":"v2ray.cool","allowPassive":0,"alterId":64,"network":0,"port":10086,"remark":"test server","userId":"23ad6b10-8d1a-40f7-8ad0-e3e35cd38297"}</value>
            </setting>
            <setting name="proxyIsOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedServerIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="udpSupport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyMode" serializeAs="String">
                <value>0</value>
            </setting>
        </V2RayW.Properties.Settings>
    </userSettings>
</configuration>
